<div class="divCon one">
    <div class="conWrap">
        <div class="divWrap">
            <h2>{{messageOneName}}</h2>
            <h3>{{messageOneRate}} / 5</h3>
        </div>
        <p>{{messageOneText}}</p>
    </div>
</div>
<div class="divCon two hidden">
    <div class="conWrap">
        <div class="divWrap">
            <h2>{{messageTwoName}}</h2>
            <h3>{{messageTwoRate}} / 5</h3>
        </div>
        <p>{{messageTwoText}}</p>
    </div>
</div>
<div class="divCon three hidden">
    <div class="conWrap">
        <div class="divWrap">
            <h2>{{messageThreeName}}</h2>
            <h3>{{messageThreeRate}} / 5</h3>
        </div>
        <p>{{messageThreeText}}</p>
    </div>
</div>
<div class="divCon four hidden">
    <div class="conWrap">
        <div class="divWrap">
            <h2>{{messageFourName}}</h2>
            <h3>{{messageFourRate}} / 5</h3>
        </div>
        <p>{{messageFourText}}</p>
    </div>
</div>